.section {
  position: relative;
}

.navbar {
  position: absolute;
  width: 97%;
  background-color: transparent;
  z-index: 10;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  width: 150px;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 4rem;
  margin-right: 125px;
}

.navbar-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-item a:hover {
  color: var(--primary-color);
}

/* LOGIN */
.login-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: 'Poppins', sans-serif;
}

.login-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.login-icon img {
  width: 30px;
  height: 30px;
}

.login-options {
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
}

.login-options a {
  display: block;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  padding: 10px 10px;
  transition: 0.3s;
}

/* USER MENU */
.user-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: 'Poppins', sans-serif;
}

.user-link,
.admin-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 16px;
  gap: 8px;
}

.user-link img {
  width: 24px;
  height: 24px;
}

/* LOGOUT */
.btn-logout {
  background-color: #e53935;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.btn-logout:hover {
  background-color: #c62828;
  transform: scale(1.05);
}
