<main>
  <header>
    <app-header-usuario></app-header-usuario>
  </header>

  <section>
    <div class="SideBar">
      <app-user-sideabr></app-user-sideabr>
    </div>

    <div class="ContainerListas">
      <h4>Meus treinos</h4>

      <div
        class="Card"
        *ngFor="let lista of listas"
        (click)="goToDetalhesLista(lista.id)"
      >
        <h5>{{ lista.nome }}</h5>
      </div>

      <div class="BotaoCriarLista">
        <button (click)="goToCriarLista()">Criar Lista</button>
      </div>
    </div>
  </section>

  <footer>
    <app-footer></app-footer>
  </footer>
</main>
