<app-header></app-header>
<section>
    <div class="content-container">
        <div class="container-fundo">
            <img src="assets/images/sobre-nos/sobre-nos.png" alt="">
            <div class="info">
                <h1>Desbloqueie <strong>Seu Potencial</strong>, transforme Seu Treino</h1>
                <h2>Conheça a nossa história, visão e os valores que nos movem a cada dia.</h2>
            </div>
        </div>
        <div class="jornada">
            <h3>Sua Jornada Começa Aqui.</h3>
            <div class="fundo-img">
                <img src="assets/images/sobre-nos/sobre-nos2.png" alt="">
            </div>
            <div class="conteudo">
                <img src="assets/images/sobre-nos/sobre-nos1.png" alt="">
                <p class="conteudo-p">Bem-vindo(a) ao Gymfy, onde a paixão pelo movimento encontra a <br>inteligência da
                    tecnologia. <br>
                    Acreditamos que o treino ideal não é apenas um conjunto de exercícios, mas <br>sim uma experiência
                    totalmente conectada a você. <br>
                    Desde o primeiro dia, nosso objetivo é claro: <span>simplificar e personalizar</span> sua
                    <br>jornada na
                    academia, transformando cada gota de suor em um passo em <br>direção à <span>sua melhor
                        versão</span>
                </p>
            </div>
        </div>
        <h3>Missão e Visão</h3>
        <div class="content-missaovisao">
            <div class="fundo">
                <img src="assets/images/sobre-nos/fundo-sobre-nos.png" alt="">
            </div>
            <div class="conteudo-missaovisao">
                <img src="assets/images/sobre-nos/missao.png" alt="">
                <h4>Nosso Propósito</h4>
                <p>Tornar o treino acessível, personalizado e <br>motivador, ajudando cada pessoa a <br>alcançar seus
                    objetivos na academia de <br>forma inteligente e prática</p>
            </div>
            <div class="conteudo-missaovisao">
                <img src="assets/images/sobre-nos/missao2.png" alt="">
                <h4>Para Onde Caminhamos</h4>
                <p>Tornar o treino acessível, personalizado e <br>motivador, ajudando cada pessoa a <br>alcançar seus
                    objetivos na academia de <br>forma inteligente e prática</p>

            </div>
        </div>


        <div class="container-comunidade">

            <div class="fundo2">
                <div class="overlay">
                    <img src="assets/images/sobre-nos/fundo-sobre-nos2.png" alt="">
                </div>
                <div class="comunidades">
                    <p class="titulo-comunidade">Os Pilares da Nossa Comunidade</p>

                    <div class="card-comunidade">
                        <div class="content-comunidade">
                            <img src="assets/images/sobre-nos/icon1.png" alt="">
                            <p class="titulo-comunidade">Personalização</p>
                            <p class="texto">Cada pessoa tem um ritmo, um corpo e um objetivo; o treino se adapta a ela,
                                não o contrário</p>
                        </div>
                        <div class="content-comunidade">
                            <img src="assets/images/sobre-nos/icon2.png" alt="">
                            <p class="titulo-comunidade">Disciplina</p>
                            <p class="texto">Acreditamos que a constância é o verdadeiro segredo dos resultados
                                duradouros e da evolução contínua</p>
                        </div>
                    </div>

                    <div class="card-comunidade">
                        <div class="content-comunidade">
                            <img src="assets/images/sobre-nos/icon3.png" alt="">
                            <p class="titulo-comunidade">Acessibilidade</p>
                            <p class="texto">Treinos claros, simples e possíveis para todos os níveis, garantindo que o
                                bem-estar esteja ao alcance de todos</p>
                        </div>
                        <div class="content-comunidade">
                            <img src="assets/images/sobre-nos/icon4.png" alt="">
                            <p class="titulo-comunidade">Inovação</p>
                            <p class="texto">Uso constante da tecnologia para oferecer sempre a melhor experiência de
                                treino e acompanhamento</p>
                        </div>
                    </div>

                    <div class="card-comunidade">
                        <div class="content-comunidade">
                            <img src="assets/images/sobre-nos/icon5.png" alt="">
                            <p class="titulo-comunidade">Saúde Integral</p>
                            <p class="texto">Corpo e mente em equilíbrio. Mais do que estética, promovemos qualidade de
                                vida, bem-estar e longevidade</p>
                        </div>
                        <div class="content-comunidade">
                            <img src="assets/images/sobre-nos/icon6.png" alt="">
                            <p class="titulo-comunidade">Superação</p>
                            <p class="texto">Cada treino é um passo a mais na jornada de evolução pessoal. Celebramos
                                cada limite rompido e cada novo objetivo alcançado</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-final">
            <h3>Mais Que Um Site, Um Estilo de Vida</h3>
            <div class="content-final">
                <p>Nosso compromisso é ir além da organização de exercícios. O <br>Gymfy busca motivar, incentivar a
                    disciplina e transformar a <br>academia em um espaço de evolução acessível e constante. <br>
                    Com planos práticos e adaptados ao seu perfil, promovemos não <br>apenas a saúde física, mas também
                    o bem-estar mental e a <br>satisfação de superar-se a cada dia. <br>
                    Venha fazer parte dessa comunidade que respira saúde, propósito <br>e conquistas!</p>
                <div class="ticket">
                    <img src="assets/images/sobre-nos/ticket.png" alt="">
                    <p>Pronto para comaçar sua transformação?</p>
                    <button>Comece a Treinar com a Gymfy!</button>
                </div>
            </div>
        </div>

    </div>
</section>
<app-footer></app-footer>