<nav class="navbar">
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active">
        <i class="fa-solid fa-house"></i> HOME
      </a>
    </li>
    <li>
      <a routerLink="/exercicios" routerLinkActive="active">
        <i class="fa-solid fa-dumbbell"></i> EXERCÍCIOS
      </a>
    </li>
    <li>
      <a routerLink="/admin" routerLinkActive="active">
        <i class="fa-solid fa-circle-plus"></i> USUÁRIOS
      </a>
    </li>
        <li>
      <a routerLink="/admin" routerLinkActive="active">
        <i class="fa-solid fa-circle-plus"></i> LISTAS
      </a>
    </li>
    <li>
      <a routerLink="/cadastrarusuario" routerLinkActive="active">
        <i class="fa-solid fa-user-plus"></i> CADASTRAR USUÁRIO
      </a>
    </li>
    <li>
      <a routerLink="/cadastrarexercicios" routerLinkActive="active">
        <i class="fa-solid fa-dumbbell"></i> CADASTRAR EXERCÍCIOS
      </a>
    </li>
  </ul>
</nav>
