<section class="login-usuario">
    <div class="container-geral">

        <!-- div esquerda -->
        <div class="container-esquerdo">
            <div class="container-logo">
                <img src="assets/images/logo.png" class="logo" alt="logo">
            </div>
            <div class="info">
                <p><strong>Portal do assinante</strong></p>
                <p>Gerencie sua assinatura</p>
            </div>
        </div>

        <!-- div direita -->
        <div class="container-direito">
            <form class="form"  (ngSubmit)="onSubmit()">
                <h2>Login</h2>

                <div class="input">
                    <input type="email" id="email" name="email"  [(ngModel)]="email" required placeholder="E-mail">
                    <label for="email">*E-mail cadastrado na criação da sua assinatura</label>
                </div>

                <div class="input">
                    <input type="password" id="password" name="password"  [(ngModel)]="senha" required placeholder="Senha">
                    <label for="password">*Senha definida na criação da sua assinatura</label>
                </div>

                <button type="submit">Login</button>

            </form>
        </div>
    </div>

</section>