.content-container {
    width: 100%;
    font-family: 'Lexend', sans-serif;
}

.content-container h2{
    text-align: center;
}

.personal-section{
    margin-top: 130px;
    /* border: 1px red solid; */
    border-top: #000 2px solid;

}


.personal-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 2rem;
    
}


.personal-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgb(136, 255, 0);
    width: 330px;
    height: 400px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s;
    margin-bottom: 100px;
}

.personal-card:hover { /*animação */
    transform: translateY(-5px);
}

.personal-card img {
    width: 200px;
    height: 300px;
    object-fit: contain;
    margin-bottom: 10px;
    /* border: 1px solid red; */
}

.personal-card h3 {
    font-size: 1.1rem;
    margin: 5px 0;
    font-size: 20px;
}

.personal-card p {
    font-size: 18px;
    margin: 5px 0 15px 0;
}

.personal-card span {
    font-weight: bold;
    color: var(--primary-color);
}


.inspect-btn {
    padding: 9px 80px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: 'Lexend', sans-serif;
    text-decoration: none;
}

.inspect-btn:hover {
    background-color: #000;
    color: var(--text-color);
}