<section class="login-personal">
    <div class="content-container">
        <div class="form-personal">
            <div class="container-logo">
                <img src="assets/images/logo.png" class="logo" alt="logo">
            </div>

            <div class="info">
                <p><strong>Portal do Personal</strong></p>
                <p>Gerencie seus Alunos</p>
            </div>

            <form class="form">
                <label for="email">*E-mail definido na criação da sua conta</label>
                <input type="email" id="email" name="email" required placeholder="E-mail">

                <label for="password">*Senha definida na criação da sua conta</label>
                <input type="password" id="password" name="password" required placeholder="Senha">

                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
</section>