<section class="section">
    <nav class="navbar">
        <div class="navbar-container">

            <div class="logo">
                <a href="/" class="navbar-logo">
                    <img src="assets/images/logo.png" alt="logo" class="logo-image">
                </a>
            </div>

            <div class="UserName">
                <p>Seja Bem vindo, {{nomePersonal}}</p>
                       
               </div>
            
            <div class="sair-menu">
                
                <div class="sair-icon">
                    <button  (click)="onLogout()">
                        <img src="assets/images/logout.png" alt="Sair">
                    </button>
                </div>

            </div>

        </div>
    </nav>
</section>