<div class ="container">
    <button class="novo mat-elevation-z5"
    mat-raised-button color="primary">Novo</button>
    <div class="container">
<button class="novo mat-elevation-z5"
mat-raised-button color="primary">Novo</button>
<div class="conteudo">
<mat-card class="card mat-elevation-z3 ">
<mat-card-header>
<mat-card-title>Registro</mat-card-title>
<mat-card-subtitle>Dados</mat-card-subtitle>
</mat-card-header>
<div class="acoes">
<button mat-mini-fab color="primary" id="gravar">
<mat-icon>done</mat-icon>
</button>
<button mat-mini-fab color="accent" id="editar">
<mat-icon>edit</mat-icon>
</button>
<button mat-mini-fab color="warn" id="apagar">
<mat-icon>delete</mat-icon>
</button>
</div>
</mat-card>
</div>
</div>
