.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c7da33;
  padding: 10px 40px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 80px;
  padding: 10px 0;
  margin: 10px 0;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  font-size: 1.1rem;
  transition: color 0.2s;
}

.navbar a:hover {
  color: #333;
}

.navbar a.active {
  border-bottom: 2px solid #000;
}