<app-header-personal></app-header-personal>
<section class="tela-personal">
    <div class="container-geral">

        <!-- div esquerda -->
        <div class="container-esquerdo">
            <h1>ÁREA DO PERSONAL</h1>

            <div class="info">
                <div class="item">
                    <img src="assets/images/tela-personal/users.png" alt="users">
                    <a href="/personal">Personais</a>
                </div>

                <!-- <div class="item">
                    <img src="assets/images/tela-personal/icon-halter.png" alt="halter">
                    <a href="/personal-treinos">TREINOS</a>
                </div> -->
            </div>
        </div>


        <!-- div direita -->
        <div class="container-direito">

        </div>
    </div>

</section>

<!-- <app-read-all-personal></app-read-all-personal> -->

<app-footer></app-footer>