<app-header></app-header>
<div class="content-container">
    <div class="container-fundo">
        <img src="assets/images/home1.png" alt="">
        <div class="info">
            <h1>Não sabe por <br> onde começar?</h1>
            <button class="">Temos sua solução!</button>
        </div>
    </div>
    <div class="container-page">
        <img src="assets/images/home2.png" alt="">
        <div class="overlay"></div>
        <h2>Pare de Perder Tempo e Ganhe Resultados <br> <strong>A Chave para um Treino Eficiente</strong></h2>
    </div>
    <div class="cards-container">
        <div class="cards">
            <img src="assets/images/home3.png" alt="cards">
            <p>
                Comece a ver os seus <strong>resultados</strong>. <br>
                Pare de triner no escuro. <strong>Organize <br>
                    seus exercícios</strong> e transforme <br>
                esforço em <strong>evolução real.</strong>
            </p>
        </div>
        <div class="cards">
            <img src="assets/images/home3.png" alt="cards">
            <p>
                Comece a ver os seus <strong>resultados</strong>. <br>
                Pare de triner no escuro. <strong>Organize <br>
                    seus exercícios</strong> e transforme <br>
                esforço em <strong>evolução real.</strong>
            </p>
        </div>
        <div class="cards">
            <img src="assets/images/home3.png" alt="cards">
            <p>
                Comece a ver os seus <strong>resultados</strong>. <br>
                Pare de triner no escuro. <strong>Organize <br>
                    seus exercícios</strong> e transforme <br>
                esforço em <strong>evolução real.</strong>
            </p>
        </div>

    </div>
    <div class="container-planos">
        <img src="assets/images/home4.png" alt="">
        <div class="lista">
            <img src="assets/images/logo.png" alt="">
            <h2>Temos a solução para você!</h2>
            <div class="itens-lista">
                <div class="item">
                    <img src="assets/images/checkmark.png" alt="">
                    <span>Sem fidelidade</span>
                </div>
                <div class="item">
                    <img src="assets/images/checkmark.png" alt="">
                    <span>Sem multa de cancelamento </span>
                </div>
                <div class="item">
                    <img src="assets/images/checkmark.png" alt="">
                    <span>Sem taxa de adesão</span>
                </div>
                <div class="item">
                    <img src="assets/images/checkmark.png" alt="">
                    <span>Licença de uso imediata</span>
                </div>
            </div>
            <button class="button">Ver planos</button>
        </div>
    </div>
    <section class="container-exercicios">
        <div class="cards-container-exercicios">
            <div class="card-destaque">
                <p>Mais de xxx <br> exercícios <br> no nosso <br> banco de dados</p>
                <button class="btn-ver">Ver mais</button>
            </div>
            <div class="card">
                <img src="assets/images/biceps.png" alt="biceps">
                <h3>Bíceps</h3>
            </div>
            <div class="card">
                <img src="assets/images/superiores.png" alt="superiores">
                <h3>Superiores</h3>
            </div>
            <div class="card">
                <img src="assets/images/pernas.png" alt="pernas">
                <h3>Pernas</h3>
            </div>
            <div class="card">
                <img src="assets/images/costas.png" alt="costas">
                <h3>Costas</h3>
            </div>
        </div>
        <h2 class="titulo">O que falam sobre nós</h2>
    </section>
    <section class="feedback">
        <div class="feedback-container">
            <div class="feedback-card">
                <h3>Ellen Gabrielly</h3>
                <p>Antes eu ficava perdido na academia, <br>sem saber o que fazer, mas agora <br>tenho uma lista
                    organizada e eficiente. <br>Em poucas semanas já comecei a ver <br>resultados de verdade. Fácil de
                    usar e <br>realmente faz diferença</p>
            </div>
            <div class="feedback-card" id="especial">
                <h3>Pedro Reis</h3>
                <p>Antes eu ficava perdido na academia, <br>sem saber o que fazer, mas agora <br>tenho uma lista
                    organizada e eficiente. <br>Em poucas semanas já comecei a ver <br>resultados de verdade. Fácil de
                    usar e <br>realmente faz diferença</p>
            </div>
            <div class="feedback-card">
                <h3>Icaro Silveira</h3>
                <p>Antes eu ficava perdido na academia, <br>sem saber o que fazer, mas agora <br>tenho uma lista
                    organizada e eficiente. <br>Em poucas semanas já comecei a ver <br>resultados de verdade. Fácil de
                    usar e <br>realmente faz diferença</p>
            </div>
        </div>
        <h2 id="planos" class="titulo">Conheça nossos planos</h2>
    </section>
    <section  class="planos">
        <div  class="planos-container">
            <!-- plano plus -->
            <div class="plano-card">
                <div class="icone">
                    <img src="assets/images/plus.png" alt="plano plus">
                </div>
                <h3>Plus</h3>
                <p>Mensal</p>
                <ul>
                    <img class="check" src="assets/images/checkmark.png" alt="">
                    <li>Acesso à lista de exercícios</li>

                    <img class="check" src="assets/images/checkmark.png" alt="">
                    <li>Acesso à área de produtos</li>

                    <img class="check" src="assets/images/checkmark.png" alt="">
                    <li>Personal Trainer</li>

                    <img class="check-desativado" src="assets/images/cancela.png" alt="">
                    <li class="desativado">Nutricionista</li>

                    <img class="check-desativado" src="assets/images/cancela.png" alt="">
                    <li class="desativado">Acompanhamento com expecíalista</li>
                </ul>
                <p class="preco">De <strong>R$XXX,XX</strong> <br> Por <strong>R$XXX,XX</strong></p>
                <button>Assinar Plus Mensal</button>
            </div>
            <!-- Plano Premium -->
            <div class="plano-card" id="premium">
                <div class="icone">
                    <img src="assets/images/premium.png" alt="plano premium">
                </div>
                <h3>Premium</h3>
                <p>Mensal</p>
                <ul>
                    <img class="check" src="assets/images/checkmark.png" alt="">
                    <li>Acesso à lista de exercícios</li>

                    <img class="check" src="assets/images/checkmark.png" alt="">
                    <li>Acesso à área de produtos</li>

                    <img class="check" src="assets/images/checkmark.png" alt="">
                    <li>Personal Trainer</li>

                    <img class="check" src="assets/images/checkmark.png" alt="">
                    <li>Nutricionista</li>

                    <img class="check" src="assets/images/checkmark.png" alt="">
                    <li>Acompanhamento com expecíalista</li>

                    <img class="check" src="assets/images/checkmark.png" alt="">
                    <li>1 Suplemento por mês gratuito</li>
                </ul>
                <p class="preco">De <strong>R$XXX,XX</strong> <br> Por <strong>R$XXX,XX</strong></p>
                <button>Assinar Premium Mensal</button>
            </div>
            <!-- plano Basic -->
            <div class="plano-card">
                <div class="icone">
                    <img src="assets/images/basic.png" alt="plano basic">
                </div>
                <h3>Basic</h3>
                <p>Mensal</p>
                <ul>
                    <img class="check" src="assets/images/checkmark.png" alt="">
                    <li>Acesso à lista de exercícios</li>

                    <img class="check" src="assets/images/checkmark.png" alt="">
                    <li>Acesso à área de produtos</li>

                    <img class="check-desativado" src="assets/images/cancela.png" alt="">
                    <li class="desativado">Personal Trainer</li>

                    <img class="check-desativado" src="assets/images/cancela.png" alt="">
                    <li class="desativado">Nutricionista</li>

                    <img class="check-desativado" src="assets/images/cancela.png" alt="">
                    <li class="desativado">Acompanhamento com expecíalista</li>
                </ul>
                <p class="preco">De <strong>R$XXX,XX</strong> <br> Por <strong>R$XXX,XX</strong></p>
                <button >Assinar Basic Mensal</button>
            </div>
        </div>
    </section>
</div>

<app-footer></app-footer>