.content-container {
    background-color: #000;
    width: 100%;
    /* position: relative; */

}

.container-fundo {
    position: relative;
    /*referência para o h1 */
    width: 100vw;

}

.container-fundo img {
    display: block;
    width: 100%;
    height: 450px;
}

/* Centraliza o conteúdo sobre a imagem */
.container-fundo .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* centraliza o texto */
    z-index: 2;
    width: 80%;
    /* evita texto muito largo em telas grandes */
}

.container-fundo h1,
h2 {
    /* position: absolute; */
    /* fica sobre a imagem */
    font-family: 'Lexend', sans-serif;
    color: var(--text-color);
    text-align: center;
}

.container-fundo h1 {
    top: 150px;
    left: 15%;
    font-size: 40px;

}

.container-fundo h2 {
    top: 150px;
    font-size: 30px;
}

.container-fundo span {
    color: var(--primary-color);
}

/* filtro */
.exercise-categories {
    text-align: center;
    margin: 4rem;
}

.category-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.category-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #f3f3f3;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
}

.category-btn:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.category-btn.active {
    background-color: var(--primary-color);
    color: white;
}

/* cards */
.exercise-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 2rem;
    font-family: 'Lexend', sans-serif;
}

.exercise-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgb(136, 255, 0);
    width: 338px;
    height: 448px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s;
    margin-bottom: 100px;
}

.exercise-card:hover { /*animação */
    transform: translateY(-5px);
}

.exercise-card img {
    width: 200px;
    height: 300px;
    object-fit: contain;
    margin-bottom: 10px;
    /* border: 1px solid red; */
}

.exercise-card h3 {
    font-size: 1.1rem;
    margin: 5px 0;
}

.exercise-card p {
    font-size: 20px;
    margin: 5px 0 15px 0;
}

.exercise-card span {
    font-weight: bold;
    color: var(--primary-color);
}


.inspect-btn {
    padding: 9px 80px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: 'Lexend', sans-serif;
}

.inspect-btn:hover {
    background-color: #000;
    color: var(--text-color);
}