<main>

    <header>
        <app-header-usuario></app-header-usuario>
    </header>

    <section>
        
        <div class="SideBar">
            <app-user-sideabr></app-user-sideabr>
        </div>

            <div class="ContainerListas">

                     <div>
                        <h4> Lista1 </h4>
                     </div>

                     <div>
                        <table>
                                   
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nome</th>
                                        <th>Agrupamento</th>
                                        <th>Intensidade</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Leg Press</td>
                                        <td>Perna</td>
                                        <td>Alta</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Supino</td>
                                        <td>Peito</td>
                                        <td>Média</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Pull Down</td>
                                        <td>Costas</td>
                                        <td>Baixa</td>
                                    </tr>
                                    </tbody>
                        </table>
                     </div>

              </div>

    </section>

    
    <footer>
        <app-footer></app-footer>
    </footer>

</main>