main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.SideBar {
    display: flex;
    flex-direction: row;
    width: 30em;
}

section{
    display: flex;
    flex-direction: row;
    flex-grow: 1; 
}

.ContainerListas{
    display: flex;
    flex-direction: column;
    margin-top: 10em;
    width: 100%;
    height: 100%;
}

h4{
    color: #7D7C7C;
    margin-bottom: 3em;
}

.Card{
    width: 138px;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 6px 1px #C6D932;

    border-radius: 25px 25px 0px 0px;
    
    
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.Card:hover{
    transform: scale(1.03);
    cursor: pointer;

}

.BotaoCriarLista{
    margin-top: auto;
    align-self: flex-end;
    margin-top: 10em;
    margin-right: 30px;
}

button{
    background-color: #C6D932;
    color: #000;
    font-size: 15px;

    width: 150px;
    height: 40px;
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    border: none;

    border-radius: 5px;

    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

button:hover{
    transform: scale(1.03);
    cursor: pointer;
}

body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      padding: 40px;
    }

    table {
      width: 60%;
      margin: auto;
      border-collapse: collapse;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
    }

    th, td {
      padding: 12px 16px;
      text-align: left;
    }

    th {
      background-color: #000;
      color: white;
      text-transform: uppercase;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      cursor: pointer;  
      transition: 0.3s;
    }

    caption {
      caption-side: top;
      font-size: 1.4em;
      font-weight: bold;
      margin-bottom: 10px;
      color: #333;
    }