main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.SideBar {
  display: flex;
  flex-direction: row;
  width: 30em;
}

section {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.ContainerListas {
  display: flex;
  flex-direction: column;
  margin-top: 10em;
  width: 100%;
  height: 100%;
}

h4 {
  color: #7D7C7C;
  margin-bottom: 3em;
}

input {
  width: 100%;
  max-width: 350px;
  padding: 12px 14px;
  margin-bottom: 15px;
  margin-right: 2em;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  font-family: 'Lexend', sans-serif;
  outline: none;
  transition: all 0.2s ease-in-out;
}

input:focus {
  border-color: #C6D932;
  box-shadow: 0 0 5px #C6D932;
}

button {
  background-color: #C6D932;
  color: #000;
  font-size: 15px;
  font-family: 'Lexend', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 12px 16px;
  width: 150px;
  transition: transform 0.2s ease-in-out, background-color 0.3s;
}

button:hover {
  background-color: #b8ca2e;
  transform: scale(1.03);
  cursor: pointer;
}
